/ipcore_dir/
isim/
_ngo/
iseconfig/
xst/
*.lso
*.gise
*.xise
*.xmsgs
*.cmd
*.projectmgr
*.xreport
*.sdb
*.prj
*.bin
*.html
*.ini
*.cmd_log
*.syr
*.xrpt
*.xml
*.jhd
*.sym
*.bld
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.vf
*.xst
*.map
*.mrp
*.xpi
*.ngm
*.xbcd
*.txt
*_pad*
*.wdb
*.schlog
sch2HdlBatchFile
*.asy
*.veo
*.xco
*.xdc
src/ipcore_dir/tmp/
*.tcl
*.ncf
*.key
src/ipcore_dir/clkgen/simulation/
src/ipcore_dir/clkgen/implement/
src/ipcore_dir/clkgen/example_design/
src/ipcore_dir/clkgen/doc/
*.cgp
