ipcore_dir/
isim/
_ngo/
iseconfig/
xst/
*.lso
*.gise
*.xise
*.xmsgs
*.cmd
*.projectmgr
*.xreport
*.sdb
*.prj
*.bin
*.html
*.ini
*.cmd_log
*.syr
*.xrpt
*.xml
*.jhd
*.sym
*.bld
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.vf
*.xst
*.map
*.mrp
*.xpi
*.ngm
*.xbcd
*.txt
*_pad*
*.wdb
*.schlog
sch2HdlBatchFile
